{#
SPDX-FileCopyrightText: 2020 Michael Pöhn <michael.poehn@fsfe.org>
SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html" %}

{% block title %}{{ title }} - F-Droid Monitor{% end %}

{% block content %}
<h2>{{ title }}</h2>

<h3>last-modified</h3>
<p>{{ lastModified }}</p>

<div class="commandLine">
  <h3>command line</h3>
  <code>
    {{ " ".join(data["commandLine"]) }}</code>
  </code>
</div>

<div class="started">
  <h3>start time</h3>
  <p>{{ startTime }}</p>
</div>

{% if endTime %}
<div class="stopped">
  <h3>end time</h3>
  <p>{{ endTime }}</p>
</div>
{% end %}

<div class="fdroiddata">
  <h3>fdroiddata version</h3>
  <a href="https://gitlab.com/fdroid/fdroiddata/-/tree/{{data["fdroiddata"]["commitId"]}}">fdroiddata@{{ data["fdroiddata"]["commitId"][:8] }}</a>
  {% if data["fdroiddata"]["isDirty"] %}
    (dirty!)
    <ul>
      {% for f in data["fdroiddata"]["modifiedFiles"] %}
      <li><tt>{{ f }}</tt> (modified)</li>
      {% end %}
      {% for f in data["fdroiddata"]["untrackedFiles"] %}
      <li><tt>{{ f }}</tt> (untracked)</li>
      {% end %}
    </ul>
  {% end %}
</div>

<div class="fdroidserver">
  <h3>fdroidserver version</h3>
  <a href="https://gitlab.com/fdroid/fdroidserver/-/tree/{{data["fdroidserver"]["commitId"]}}">fdroidserver@{{ data["fdroidserver"]["commitId"][:8] }}</a>
  {% if data["fdroidserver"]["isDirty"] %}
    (dirty!)
    <ul>
      {% for f in data["fdroidserver"]["modifiedFiles"] %}
      <li><tt>{{ f }}</tt> (modified)</li>
      {% end %}
      {% for f in data["fdroidserver"]["untrackedFiles"] %}
      <li><tt>{{ f }}</tt> (untracked)</li>
      {% end %}
    </ul>
  {% end %}
</div>

{% if "successfulBuildIds" in data %}
<h2>Successful builds</h2>

<div class="successfulBuilds">
  <h3>Number of successful builds: {{ len(data["successfulBuildIds"]) }}</h3>
  <ul>
  {% for build in data["successfulBuildIds"] %}
    <li>
      {{ build[0] }}:{{ build[1] }} -
      <a href="https://f-droid.org/packages/{{ build[0] }}/">web</a> -
      <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ data["fdroiddata"]["commitId"] }}/metadata/{{ build[0] }}.yml">metadata</a> -
      <a href="/builds/log/{{ build[0] }}/{{ build[1] }}#site-footer">log</a>
    </li>
  {% end %}
  </ul>
</div>
{% end %}

{% if "failedBuilds" in data and title != "update" %}
<h2>Failed builds</h2>

<div class="failedBuilds">
  <h3>Number of failed builds: {{ len(data["failedBuilds"]) }}</h3>
  <ul>
  {% for build in data["failedBuilds"] %}
    <li>
      {{ build[0] }}:{{ build[1] }} -
      <a href="https://f-droid.org/packages/{{ build[0] }}/">web</a> -
      <a href="https://gitlab.com/fdroid/fdroiddata/-/blob/{{ data["fdroiddata"]["commitId"] }}/metadata/{{ build[0] }}.yml">metadata</a> -
      <a href="/builds/log/{{ build[0] }}/{{ build[1] }}#site-footer">log</a>
    </li>
  {% end %}
  </ul>
</div>
{% end %}

{% end %}
